@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --button: #ffffff;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
}

@layer components {
    /* todo components */
    .greener {
        color: var(--secondary);
        font-size: 2em;
    }
    .green {
        color: var(--primary);
    }
    .bigGreen {
        color: var(--primary);
        font-size: 1.75em;
    }
    .smaller {
        font-size: 14px;
    }
    .smallerSmaller {
        font-size: 13px;
    }
    .button {
        text-align: center;
        border-radius: 0.5em;
        padding: 1.3em;
        background-color: var(--primary);
    }
    .buttonText {
        color: var(--button);
        text-decoration-line: none;
    }
    .point {
        padding-top: .5em;
    }
    .check {
        list-style-image: url(/images/check.svg);
    }
    .cross {
        list-style-image: url(/images/cross.svg);
    }
}